<div class="root" fxLayout="column" fxLayoutAlign="center center">
  <!-- 
 para agragar mat o similares hay que hacer import se encuantran en las API de https://material.angular.io/components/card/api -->
  <mat-card fxFlex="50%" class="cardTodo">
    <mat-card-header
      ><!-- https://material.angular.io/components/card/examples-->
      <div mat-card-avatar class="ico"></div>
      <mat-card-title> <h1>Login TuTu</h1> </mat-card-title>
      <mat-card-subtitle>Loguéate para gozar</mat-card-subtitle>
    </mat-card-header>

    <!--  <img mat-card-image src="../../../assets/image/fumadora.jpg" alt="Photo picasso"> -->
    <!--   Creo variable de validacion /no autocompletado/no se encarge en navegador de validar
        y dos eventos(ngSubmit) = "saveForm() =salta cuando le das a submit /
                   (Keydown.enter) = "saveForm()" =esto es cuando se pulsa enter que se mande el form -->
    <form
      [formGroup]="form"
      autocomplete="off"
      novalidate
      (ngSubmit)="saveForm()"
      (keydown.enter)="saveForm()"
    >
      <mat-card-content
        fxLayout="row"
        fxLayout.md="column"
        fxLayoutGap="5"
        fxLayoutAlign="center center"
        fxLayoutAlign.md="start center"
      >
        <!------------------------ email ------------------------------------------------>

        <div class="email" fxFlex="50%" fxFlex.md="100%">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="'Tu email'"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <!------------------------ pass ------------------------------------------------>
        <div class="password" fxFlex="50%" fxFlex.md="100%">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              name="password"
              placeholder="tu password"
              formControlName="password"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <!-- ACTION -->
      <mat-card-actions fxFlex="100%">
        <button mat-button type="button" (click)="goRegister()">
          No estoy registrado 
        </button>
        <!-- no se activa si la validacion no es correcta -->
        <button mat-button type="submit" [disabled]="!form.valid">
         login
        </button>
      </mat-card-actions>
    </form>

    <mat-card-footer>
      <button mat-stroked-button (click)="goRecovery()" class="btn">
        No recuerdo el password
      </button>
    </mat-card-footer>
  </mat-card>
</div>
